
*.obj
.vs/TextureTools/v15/.suo
*.db
*.opendb
x64/Debug/TextureTools.exe
x64/Debug/vc141.pdb
x64/Debug/vc141.idb
x64/Debug/TextureTools.tlog/TextureTools.lastbuildstate
x64/Debug/TextureTools.tlog/link.write.1.tlog
x64/Debug/TextureTools.tlog/link.read.1.tlog
x64/Debug/TextureTools.tlog/link.command.1.tlog
x64/Debug/TextureTools.tlog/CL.write.1.tlog
x64/Debug/TextureTools.tlog/CL.read.1.tlog
x64/Debug/TextureTools.tlog/CL.command.1.tlog
x64/Debug/TextureTools.pdb
x64/Debug/TextureTools.pch
x64/Debug/TextureTools.log
x64/Debug/TextureTools.ilk
